body {
    margin: 0;
    background: url(https://i.gifer.com/xK.gif) no-repeat;
    background-size: 2000px 1000px;   
}
.pole {
    display: flex;
    justify-content: center;
    margin: 1.5%;
}
.name {
    width: 28ch;
    font-family: 'Press Start 2P';
    font-size: 25px;
    color: #ffff;
    border-right:  4px solid white;
    animation: cursor 0.75s step-end infinite, title 4s steps(14) ;
    white-space: nowrap;
    overflow: hidden;
}


@keyframes cursor{
    0%{
        border-color: white;
    }

    50%{
        border-color: transparent;
    }

    100%{
        border-color: white;
    }
}
@keyframes title {
    from{
        width: 0;
    }
}

