body {
    margin: 0;
    background: url(https://i.gifer.com/xK.gif) no-repeat;
    background-size: 2000px 1000px;   
}
.name1 {
    position: absolute;
    height: 80px;
    width: 100px;
    
}
.name2 {
    font-family;
}